@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0; /* sempre importante zerar os valores de margin e padding antes de todo projeto */
    padding: 0;
}

body {
    height: 100vh; /* Altura do viewport, sempre colocar esse padrão no início do projeto */
    box-sizing: border-box; /* Outra propriedade importante para padronizar no início do projeto */
    background-color: #000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #BC4FFF;
}

.apresentacao{
    margin: 10% 15%;
    display: flex; /* Atributo padrão para podermos utilizar a propriedade flexbox */
    align-items: center;
    justify-content: space-between; /* Atributo flexbox para dar espaço entre elementos */
}

.apresentacao__conteudo{
    width: 603px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif; /* esse é o valor que o google fonts
    informa para colocarmos após a importação da fonte krona one realizada lá em cima*/
}

.presentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif; /* Importante verificarmos o peso (weight) da fonte no figma, 
    antes de importarmos ela do google fonts*/
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.apresentacao__links__subtitulo{
    font-family: "krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    text-decoration: none;
    /* background-color: #BC4FFF; */
    border: 2px solid #BC4FFF; /* O primeiro diz respeito a expessura da borda. */
    border-radius: 8px;
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}