@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #FAF4E7;
    --cor-terciaria: #BC4FFF;
    --cor-hover: #5E1D7A;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0; /* sempre importante zerar os valores de margin e padding antes de todo projeto */
    padding: 0;
}

body {
    /* height: 100vh; Altura do viewport, colocar esse padrão no início do projeto */
    box-sizing: border-box; /* Outra propriedade importante para padronizar no início do projeto */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex; /* Atributo padrão para podermos utilizar a propriedade flexbox */
    align-items: center;
    justify-content: space-between; /* Atributo flexbox para dar espaço entre elementos */
}

.apresentacao__conteudo{
    width: 603px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria); /* esse é o valor que o google fonts
    informa para colocarmos após a importação da fonte krona one realizada lá em cima*/
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--fonte-secundaria); /* Importante verificarmos o peso (weight) da fonte no figma, 
    antes de importarmos ela do google fonts*/
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria); /* O primeiro diz respeito a expessura da borda. */
    border-radius: 8px;
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.image__home:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 600;
}